# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.sqlite3

# =========================
# Virtual Environment
# =========================
venv/
env/
toysenv
.venv/

# =========================
# Django
# =========================
db.sqlite3
*.log
media/
staticfiles/

# =========================
# Environment Variables
# =========================
.env
.env.*

# =========================
# IDE / Editor
# =========================
.vscode/
.idea/

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# Testing / Coverage
# =========================
.coverage
htmlcov/
.pytest_cache/

# =========================
# Misc
# =========================
*.swp
*.bak
*.tmp